.top{
padding: 25px;
}
.middle1{
padding: 100px;
}
.middle2{
padding: 100px;
}
.bottom{
background-color: black;
}
.contact{
  height: 50px;
}
.contact-info{
  width: 60%;
  margin: auto;
}
.footer{
  margin: 10px;
}
.skill-img{
    width: 20%;
    margin-right: 30px;
    float: left;
}
.skill-ml{
    width: 60%;
  margin:auto;
  text-align:left;
  padding: 20px;
}
.skill-web{
    width: 60%;
  margin:auto;
  text-align:left;
  padding: 20px;
}
.skill-iot{
    width: 60%;
  margin:auto;
  text-align:left;
  padding: 20px;
}
.intro{
  width: 60%;
  margin:auto;
}

body{
  color: white;
  font-family: 'Comfortaa';
  text-align: center;
  margin: 0;
  background-image: url('laptop.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
h1{
  color: #00fff5;
  margin-top: 0;
}
h2{
  margin-top: 0;
  line-height: 2;
  font-weight: bold;
}
h3{
  line-height: 2;
  font-weight: bold;
}
h4{
  margin-bottom: 0;
}
p{
    line-height: 2;
}


.btn {
  color: #FFFFFF ;
  font-size: 20px;
  text-shadow: 1px 1px 9px #7CACDE;
  text-decoration: none;
  font-family: 'Comfortaa';
  padding: 5px 25px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background: #0B16B3;
  background: linear-gradient(top,  #00FFF5,  #42B3B3);
  background: -ms-linear-gradient(top,  #00FFF5,  #42B3B3);
  background: -webkit-gradient(linear, left top, left bottom, from(#00FFF5), to(#42B3B3));
  background: -moz-linear-gradient(top,  #00FFF5,  #42B3B3);
}
.btn:hover {
  color: #FFFFFF ;
  background: linear-gradient(top,  #42B3B3,  #00FFF5);
  background: -ms-linear-gradient(top,  #42B3B3,  #00FFF5);
  background: -webkit-gradient(linear, left top, left bottom, from(#42B3B3), to(#00FFF5));
  background: -moz-linear-gradient(top,  #42B3B3,  #00FFF5);
}
